{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Falcon | Dashboard &amp; Web App Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'store/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'store/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'store/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'store/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'store/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'store/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'store/js/config.js' %}"></script>
    <script src="{% static 'store/vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>

    <!-- Stylesheets -->
    <link href="{% static 'store/vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/glightbox/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/plyr/plyr.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/dropzone/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/leaflet.markercluster/MarkerCluster.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/leaflet.markercluster/MarkerCluster.Default.css' %}" rel="stylesheet">
    <link href="{% static 'store/vendors/fullcalendar/main.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'store/vendors/overlayscrollbars/OverlayScrollbars.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'store/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'store/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'store/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <!-- ... -->
  </head>
  <body>
    <!-- ... -->
    <!-- Barcha <img>, <a>, <div style="background-image:...">, SVG, va boshqa static fayllar uchun: -->
    <img src="{% static 'store/img/team/1.jpg' %}" alt="">
    <img src="{% static 'store/img/icons/spot-illustrations/falcon.png' %}" alt="" width="40">
    <div style="background-image: url('{% static 'store/img/icons/spot-illustrations/corner-1.png' %}');"></div>
    <!-- ... -->
    <!-- JavaScripts -->
    <script src="{% static 'store/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'store/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'store/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'store/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'store/vendors/glightbox/glightbox.min.js' %}"></script>
    <script src="{% static 'store/js/flatpickr.js' %}"></script>
    <script src="{% static 'store/vendors/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'store/data/world.js' %}"></script>
    <script src="{% static 'store/vendors/plyr/plyr.polyfilled.min.js' %}"></script>
    <script src="{% static 'store/vendors/countup/countUp.umd.js' %}"></script>
    <script src="{% static 'store/vendors/chart/chart.min.js' %}"></script>
    <script src="{% static 'store/vendors/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static 'store/vendors/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'store/vendors/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'store/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script>
    <script src="{% static 'store/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'store/vendors/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'store/vendors/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'store/vendors/fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'store/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'store/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'store/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'store/js/theme.js' %}"></script>
  </body>
</html>